# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages
.melos_tool/

#extras
CasoProyecto.txt
propuestadb.txt

# Firebase
firebase_options.dart
google-services.json
firebase.json

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code (opcional, si no deseas compartir configuraciones del editor)
.vscode/

# Platforms (opcional si no usas todas)
macos/
windows/
linux/
web/

# iOS
ios/Pods/
ios/Flutter/Generated.xcconfig

# Android
android/local.properties
android/key.properties
android/google-services.json
android/firebase_options.dart

# Obfuscation / Symbols
app.*.map.json
app.*.symbols
