# Gradle
.gradle/
build/
.cxx/
captures/
local.properties
gradlew
gradlew.bat
key.properties

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
GeneratedPluginRegistrant.java

# Firebase
google-services.json
firebase_options.dart

# IDEs/Editor config
.idea/
.vscode/
*.iml

# Signing files (muy importantes si usas keystore)
**/*.keystore
**/*.jks
